<div class="mt-6">
    <h3 class="text-xl font-semibold border-b mb-4">登録されているミュージアム一覧</h3>
    <% if @list.museums.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <% @list.museums.each do |museum| %>
                <div class="p-4 border rounded shadow flex items-center space-x-4">
                    <% if museum.images.any? %>
                        <% first_image = museum.image.first %>
                        <%= image_tag first_image.file.url, class: "h-24 w-24 object-cover rounded" %>
                    <% else %>
                        <div class="h-24 w-24 bg-gray-200 flex items-center justify-center text-gray-500 text-sm">
                            画像なし
                        </div>
                    <% end %>
                    <div>
                        <div class="text-lg font-bold"><%= museum.name %></div>
                        <div class="space-x-2">
                            <% museum.categories.each do |category| %>
                                <span class="badge badge-primary"><%= category.name %></span>
                            <% end %>
                        </div>
                        <div class="text-gray-500"><%= museum.address %></div>
                        <%= link_to '詳細を見る', museum_path(museum), class: "text-blue-500 text-sm" %>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <p class="text-gray-500">このリストにはまだミュージアムが登録されていません。</p>
    <% end %>
</div>
