<div class="p-6 max-w-lg mx-auto bg-white rounded-xl shadow-md space-y-4">
    <% if @list.present? && @list.errors.any? %>
        <div class="alert alert-error" style="background-color: rgba(248, 84, 76, 0.4);">
        <h2><%= pluralize(@list.errors.count, "エラー") %>が発生しました:</h2>
        <ul>
            <% @list.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form_with(model: @list, local: true) do |f| %>
        <h2 class="text-2xl font-semibold text-center mb-4 border-b-2">リスト名編集</h2>

        <div class="mb-4">
            <%= f.label :name, "リスト名", class: "block text-sm font-medium mb-2" %>
            <%= f.text_field :name, class: "input input-bordered w-full" %>
        </div>

        <div class="flex items-center">
            <%= f.submit "更新", class: "btn btn-primary w-full" %>
        </div>

        <div class="mt-4 text-center">
            <% if @museum.present? %>
                <%= link_to "戻る", museum_path(@museum), class: "text-blue-500 hover:text-blue-700" %><br />
            <% else %>
                <%= link_to "戻る", lists_path, class: "text-blue-500 hover:text-blue-700" %><br />
            <% end %>
        </div>
    <% end %>
</div>
