<div class="p-6 w-1/2 mx-auto bg-white rounded-xl shadow-md space-y-4">
    <h2 class="text-2xl font-semibold text-center mb-4 border-b-2"><%= @list.name %>リスト</h2>

    <div class="lists-container">
        <%= render partial: 'museum_list', locals: { museums: @museums } %>
    </div>

    <% unless @list.default? %>
        <div class="mt-4 flex space-x-2">
            <%= link_to "リスト名の編集", edit_list_path(@list), class: "btn btn-secondary" %>
            <%= link_to 'リストの削除', list_path(@list), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
    <% end %>

    <div class="pagination">
        <%= paginate @museums %>
    </div>
</div>