<div class="p-6 w-1/2 mx-auto bg-white rounded-xl shadow-md space-y-4">
    <h2 class="text-2xl font-semibold text-center mb-4 border-b-2"><%= @list.name %>リスト</h2>

    <div class="mt-6">
        <h3 class="text-xl font-semibold border-b mb-4">登録されているミュージアム一覧</h3>
        <% if @list.museums.any? %>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <% @list.museums.each do |museum| %>
                    <div class="p-4 border rounded shadow flex items-center space-x-4">
                        <% if museum.images.attached? %>
                            <%= image_tag museum.images.first, class: "h-24 w-24 object-cover rounded" %>
                        <% else %>
                            <div class="h-24 w-24 bg-gray-200 flex items-center justify-center text-gray-500 text-sm">
                                画像なし
                            </div>
                        <% end %>
                        <div>
                            <div class="text-lg font-bold"><%= museum.name %></div>
                            <div class="space-x-2">
                                <% museum.categories.each do |category| %>
                                    <span class="badge badge-primary"><%= category.name %></span>
                                <% end %>
                            </div>
                            <div class="text-gray-500"><%= museum.address %></div>
                            <%= link_to '詳細を見る', museum_path(museum), class: "text-blue-500 text-sm" %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p class="text-gray-500">このリストにはまだミュージアムが登録されていません。</p>
        <% end %>
    </div>

    <% unless @list.default? %>
        <div class="mt-4 flex space-x-2">
            <%= link_to "リスト名の編集", edit_list_path(@list), class: "btn btn-secondary" %>
            <%= link_to 'リストの削除', list_path(@list), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
    <% end %>

    <div class="pagination">
        <%= paginate @museums %>
    </div>
</div>