<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md space-y-4">
  <%= form_for(current_user, url: user_registration_path, method: :patch, html: { multipart: true }) do |f| %>
    <div class="items-center text-center">
      <% if current_user.image&.attached? %>
        <%= image_tag current_user.image, class: "w-24 h-24 rounded-full mx-auto" %>
      <% else %>
        <div class="w-32 h-32 rounded-full bg-gray-300 flex items-center justify-center">
          <span class="text-center font-bold">No Image</span>
        </div>
      <% end %>
      <%= f.file_field :image, class: "file-input file-input-bordered w-full max-w-xs mt-8" %>
    </div>

    <div class="mt-4">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: "input input-bordered w-full" %>
    </div>

    <div class="mt-4">
      <%= f.label :email, "メール アドレス" %>
      <%= f.email_field :email, class: "input input-bordered w-full" %>
    </div>

    <div class="mt-8">
      <%= f.submit "更新", class: "btn btn-primary w-full" %>
    </div>

    <div class="mt-4 text-center">
      <%= link_to "戻る", user_path(current_user.id), class: "text-blue-500 hover:text-blue-700" %><br />
    </div>
      <% end %>
</div>
