<header class="h-20 p-0 m-0 z-50 bg-base-100 shadow-sm w-full">

  <% if user_signed_in? %>
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Navbar -->
        <div class="navbar container mx-auto flex justify-between items-center p-4">
          <!-- Sidebar Toggle -->
          <div class="flex-none">
            <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-6 w-6 stroke-current">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </label>
          </div>

          <!-- MuseUP ロゴ -->
          <div class="flex-1 ml-2">
            <%= link_to root_path, class: "flex items-center space-x-2" do %>
              <%= image_tag asset_path('logo1.jpg'), alt: 'MuseUP', class: 'h-14 w-auto' %>
              <span class="hidden md:inline-block text-2xl text-primary font-bold">MuseUP</span>
            <% end %>
          </div>

          <!-- メニュー -->
          <div class="flex space-x-4">
            <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /></svg>検索'), museums_path, class: "btn btn-secondary flex items-center space-x-1" %>
            <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>ログアウト'), destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-neutral flex items-center space-x-1" %>
          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="drawer-side">
        <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-primary font-bold min-h-full w-80 p-4">
          <li><%= link_to '投稿', new_museum_path, class: "hover:bg-primary hover:text-white" %></li>
          <li><%= link_to 'マイページ', user_path(current_user), class: "hover:bg-primary hover:text-white" %></li>
          <li><%= link_to 'リスト', lists_path, class: "hover:bg-primary hover:text-white" %></li>
          <li><%= link_to 'メモ', user_notes_path(current_user), class: "hover:bg-primary hover:text-white" %></li>
        </ul>
      </div>
    </div>

  <% else %>
    <div class="container mx-auto flex justify-between items-center p-4">

      <!-- MuseUP ロゴ -->
      <div class="text-lg font-bold text-left flex-1 ml-2">
        <%= link_to root_path, class: "text-2xl text-primary" do %>
          <%= image_tag asset_path('logo1.jpg'), alt: 'MuseUP', class: 'h-14 w-auto' %>
        <% end %>
      </div>

      <!-- メニュー -->
      <div class="flex space-x-4">
        <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /></svg>検索'), museums_path, class: "btn btn-secondary flex items-center space-x-1" %>
        <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>ログイン'), new_user_session_path, class: "btn btn-neutral flex items-center space-x-1" %>
      </div>
    </div>
  <% end %>
</header>
