<div>
    <%= @categories %>
</div>

<div class="text-lg my-6">
    <div class="font-bold mb-2">説明</div>
    <%= @museum.description %>
</div>

<div class="text-lg my-8">
    <div class="font-bold mb-2">公式サイト</div>
    <%= link_to @museum.url, @museum.url, class: "underline text-blue-500 hover:text-blue-700" %>
</div>

<div class="text-lg my-8">
    <div class="font-bold mb-2">アクセス</div>
    <%= @museum.address %>

    <!-- Google Map の表示エリア -->
    <div id="map" class="w-full h-64 my-4"></div>
    <!-- ミュージアムデータを渡すための要素 -->
    <div id="museum-data" data-museum='<%= { id: @museum.id, name: @museum.name, latitude: @museum.latitude, longitude: @museum.longitude }.to_json %>' style="display: none;"></div>
</div>

<div class="text-lg my-6">
    <div class="font-bold mb-4">投稿したユーザー</div>
    <div class="flex items-center">
        <%= image_tag @museum.user.image, class: 'w-10 h-10 rounded-full mr-2' %>
        <span><%= @museum.user.name %></span>
    </div>
</div>

<%= javascript_include_tag 'museum_map', type: 'module', defer: true %> <!-- museum_map.jsを読み込み -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>