<body class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-center mb-4 border-b-2">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4" }) do |f| %>
      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700 mt-8" %>
        <%= f.email_field :email, class: "input input-bordered w-full", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, class: "input input-bordered w-full", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center space-x-2">
          <%= f.check_box :remember_me, class: "checkbox" %>
          <%= f.label :remember_me, class: "text-sm text-gray-700" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary w-full" %>
      </div>

      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn flex items-center space-x-2 w-full" do %>
        <!-- Google Logo -->
        <img
          src="https://www.svgrepo.com/show/475656/google-color.svg"
          alt="Google Logo"
          class="w-5 h-5"
          loading="lazy"
        />
        <!-- Button Text -->
        <span>Sign in with Google</span>
      <% end %>

      <%= link_to user_twitter2_omniauth_authorize_path, class: "btn btn-neutral flex items-center space-x-2 w-full" do %>
        <!-- X Logo -->
        <img
          src="<%= asset_path('logo-white.png') %>"
          alt="X Logo"
          class="w-5 h-5"
          loading="lazy"
        />
        <!-- Button Text -->
        <span>Sign in with X</span>
      <% end %>

      <div class="text-center mt-4 text-sm text-gray-700 space-y-6">
      <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</body>
