<div class="mx-auto space-y-6">
    <%= search_form_for @q, url: museums_path, method: :get do |f| %>
        <h2 class="text-2xl font-semibold text-center mb-8 border-b-2">ミュージアム検索</h2>

        <div class="form-control">
            <%= f.label :name_cont, "ミュージアム名", class: "label" %>
            <%= f.text_field :name_cont, value: params[:name], class: "input input-bordered w-full" %>
        </div>

        <div class="form-control">
            <%= f.label :address_cont, "住所（都道府県）", class: "label" %>
            <% regions = {
                "北海道・東北" => ["北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県"],
                "関東" => ["茨城県", "栃木県", "群馬県", "埼玉県", "千葉県", "東京都", "神奈川県"],
                "中部" => ["新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県", "岐阜県", "静岡県", "愛知県"],
                "近畿" => ["三重県", "滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県"],
                "中国" => ["鳥取県", "島根県", "岡山県", "広島県", "山口県"],
                "四国" => ["徳島県", "香川県", "愛媛県", "高知県"],
                "九州・沖縄" => ["福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"]
            } %>

            <div class="w-full">
                <% regions.each do |region, prefectures| %>
                    <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
                        <input type="checkbox" />
                        <div class="collapse-title text-lg font-medium">
                            <%= region %>
                        </div>
                        <div class="collapse-content">
                            <% prefectures.each do |prefecture| %>
                                <label class="block py-1">
                                    <%= f.radio_button :address_cont, prefecture, class: "radio radio-primary" %>
                                    <span class="ml-2"><%= prefecture %></span>
                                </label>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>


        <div class="form-control">
            <%= f.label :categories_id_eq, "カテゴリ", class: "label" %>
            <%= f.collection_select :categories_id_eq, Category.all, :id, :name,
                { include_blank: "選択してください" },
                { class: "select select-bordered w-full" } %>
        </div>

        <div class="mt-6">
            <%= f.submit "検索", class: "btn btn-primary w-full" %>
        </div>

        <div class="mt-5">
            <%= f.submit "現在地から探す", class: "btn btn-secondary w-full" %>
        </div>
    <% end %>
</div>