<div class="p-6 max-w-lg mx-auto bg-white rounded-xl shadow-md space-y-4">
    <%= form_with model: @museum, local: true do |f| %>
    <h2 class="text-2xl font-semibold text-center mb-8 border-b-2">ミュージアム編集</h2>

        <div class="mt-8">
            <%= f.label :name, "ミュージアム名" %>
            <%= f.text_field :name, id: "Name", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-8">
            <%= f.label :address, "住所" %>
            <%= f.text_field :address, id: "Address", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-8">
            <%= f.label :description, "説明 (500 字以内)" %>
            <%= f.text_area :description, id: "Description", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-8">
            <%= f.label :url, "URL" %>
            <%= f.text_field :url, id: "Url", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-8">
            <%= f.label :categories, "カテゴリ" %>
            <div class="grid grid-cols-3 gap-2 mt-2">
                <% @categories.each do |category| %>
                    <label class="btn-category">
                        <%= f.check_box :category_ids, { multiple: true, class: "mr-2" }, category.id, nil %>
                        <span><%= category.name %></span>
                    </label>
                <% end %>
            </div>
                <small class="text-gray-500">最低でも 1 つ以上選択してください</small>
        </div>

        <div class="mt-12">
            <%= f.label :images, "画像" %>
            <div class="mt-1">
                <% if @museum.images.any? %>
                    <div class="grid grid-cols-2 gap-2 my-4">
                        <% @museum.images.each_with_index do |image, index| %>
                            <div class="flex items-center space-x-2">
                                <% if image.file.present? %>
                                    <%= image_tag image.file.url, class: "rounded-md shadow w-28 h-28 object-cover" %>
                                <% end %>
                                <%= f.fields_for :images, image do |image_fields| %>
                                    <%= image_fields.hidden_field :id %>
                                    <div class="flex items-center">
                                        <%= image_fields.check_box :_destroy, id: "destroy_image_#{index}" %>
                                        <%= label_tag "destroy_image_#{index}", "削除", class: "ml-2" %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                <% end %>

                <% @remaining_slots.times do %>
                    <%= f.fields_for :images, @museum.images.build do |new_image_fields| %>
                        <%= new_image_fields.file_field :file, class: "file-input file-input-bordered w-full max-w-xs mt-4" %>
                    <% end %>
                <% end %>
            </div>
            <small class="text-gray-500">最大 4 枚までアップロードできます</small>
        </div>

        <div class="mt-12">
            <%= f.submit "更新", class: "btn btn-primary w-full" %>
        </div>

        <div class="mt-4">
            <%= link_to "このミュージアムを削除",
                museum_path(@museum),
                method: :delete,
                data: { confirm: "本当にこのミュージアムを削除しますか？" },
                class: "btn btn-neutral w-full" %>
        </div>

        <div class="mt-5 mb-8 text-center">
            <%= link_to "戻る", museum_path(@museum), class: "text-blue-500 hover:text-blue-700" %><br />
        </div>
    <% end %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initMap&language=ja"></script>
