<div class="flex flex-col items-center mb-4 mt-2 space-y-4">
  <button id="show-search-modal-btn" class="btn btn-primary w-1/2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="24" height="24">
      <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
    </svg>
    詳しく検索する
  </button>

  <!-- リセットボタン -->
  <%= link_to '現在の検索条件をリセット', museums_path, class: "btn btn-secondary w-1/2", data: { turbo: false } %>
</div>

<div class="flex justify-center items-center mt-6 mb-6 w-full">
  <div class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title">全体で投稿されたミュージアムの数</div>
      <div class="stat-value"><%= @total_museum_count %></div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">あなたが投稿したミュージアムの数</div>
        <% if user_signed_in? %>
          <div class="stat-value"><%= @user_museum_count %></div>
        <% else %>
          <div class="stat-value">0</div>
        <% end %>
    </div>
  </div>
</div>

<% if params[:q].present? && @q.result.any? %>
  <div class="stat place-items-center">
    <div class="stat-title">検索結果件数</div>
    <div class="stat-value"><%= @search_results_count %></div>
  </div>
<% end %>

<div id="museum-data" style="display: none;">
  <%= raw @museums.to_json(only: [:id, :name, :latitude, :longitude]) %>
</div>
<div id="map" style="height: 1000px;" data-center="<%= @map_center.to_json %>"></div>

<!-- 検索モーダルの表示 -->
<dialog id="searchModal" class="modal">
  <div class="modal-box space-y-4">
    <%= render 'museums/search_form' %>
    <div class="modal-action">
      <button class="btn btn-outline" id="close-search-modal">閉じる</button>
    </div>
  </div>
</dialog>

<!-- ミュージアム概要モーダルの表示 -->
<dialog id="museumDetailModal" class="modal">
  <div class="modal-box">
    <h3 id="museumTitle" class="text-lg font-bold">ミュージアム詳細</h3>
    <div id="museumOverview">
      <%= render 'museums/overview' %>
    </div>
    <div class="modal-action">
      <button class="btn"  id="close-overview-modal">閉じる</button>
      <a id="museumDetailLink" class="btn" href="#" target="_blank">詳細</a>
    </div>
  </div>
</dialog>
