<div class="p-6 max-w-lg mx-auto bg-white rounded-xl shadow-md space-y-4">
    <% if @museum.errors.any? %>
        <div class="alert alert-error" style="background-color: rgba(248, 84, 76, 0.4);">
        <h2><%= pluralize(@museum.errors.count, "エラー") %>が発生しました:</h2>
        <ul>
            <% @museum.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form_with model: @museum, local: true do |f| %>
        <h2 class="text-2xl font-semibold text-center mb-4 border-b-2">ミュージアム投稿</h2>

        <div class="mt-8">
            <%= f.label :name, "ミュージアム名" %>
            <%= f.text_field :name, id: "Name", placeholder: "名前を入力してください", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-4">
            <%= f.label :address, "住所" %>
            <%= f.text_field :address, id: "Address", placeholder: "ミュージアム名を選択すると自動で入力されます", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-4">
            <%= f.label :description, "説明 (500 字以内)" %>
            <%= f.text_area :description, id: "Description", placeholder: "どんな場所か簡単に説明してください", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-4">
            <%= f.label :url, "URL" %>
            <%= f.text_field :url, id: "Url", placeholder: "公式サイトの URL があれば入力してください", class: "input input-bordered w-full" %>
        </div>

        <div class="mt-4">
            <%= f.label :categories, "カテゴリ" %>
            <div class="grid grid-cols-3 gap-2 mt-2">
                <% @categories.each do |category| %>
                    <label class="btn-category">
                        <%= f.check_box :category_ids, { multiple: true, checked: @museum.category_ids.include?(category.id) }, category.id, nil %>
                        <span><%= category.name %></span>
                    </label>
                <% end %>
            </div>
                <small class="text-gray-500">最低でも 1 つ以上選択してください</small>
        </div>

        <div class="mt-8">
            <%= f.label :images_attributes, "画像アップロード" %>
            <div class="mt-1 gap-2">
                <%= f.fields_for :images do |image_fields| %>
                    <%= image_fields.file_field :file, class: "file-input file-input-bordered w-full" %>
                <% end %>
            </div>
            <small class="text-gray-500">最大 4 枚までアップロードできます</small>
            <small class="text-gray-500">ファイルサイズは 1 枚につき 3 MB 以内にしてください</small>
        </div>

        <div class="mt-8">
            <%= f.submit "投稿", class: "btn btn-primary w-full" %>
        </div>
    <% end %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initMap&language=ja"></script>
