<div class="p-6 w-2/5 mx-auto bg-white rounded-xl shadow-md space-y-4">
    <h1 class="text-3xl font-bold mb-6"><%= @museum.name %></h1>

    <div class="carousel w-full mb-4">
        <% @museum.images.each_with_index do |image, index| %>
            <div id="item<%= index + 1 %>" class="carousel-item w-full">
                <%= image_tag image.url, class: 'w-full' %>
            </div>
        <% end %>
    </div>
    <div class="flex w-full justify-center gap-2 py-2">
        <% @museum.images.each_with_index do |_, index| %>
            <a href="#item<%= index + 1 %>" class="btn btn-xs"><%= index + 1 %></a>
        <% end %>
    </div>

    <!-- タブ部分 -->
    <div role="tablist" class="tabs tabs-lifted w-full flex justify-center">
        <input type="radio" name="my_tabs_2" role="tab" class="tab flex-1" aria-label="詳細情報" checked="checked" />
        <input type="radio" name="my_tabs_2" role="tab" class="tab flex-1" aria-label="レビュー" />
        <input type="radio" name="my_tabs_2" role="tab" class="tab flex-1" aria-label="リスト" />
        <input type="radio" name="my_tabs_2" role="tab" class="tab flex-1" aria-label="メモ" />
    </div>

    <!-- タブコンテンツ部分 -->
    <div class="w-full">
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            Tab content 1
        </div>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            Tab content 2
        </div>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            Tab content 3
        </div>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            Tab content 4
        </div>
    </div>
</div>

