<% if @reviews.present? %>
    <% @reviews.each do |review| %>
        <div class="p-4 border rounded shadow">
            <div class="flex items-center mb-2">
                <% if review.user.image.present? %>
                    <div class="rounded-full">
                        <%= image_tag review.user.image.url, class: 'w-10 h-10 rounded-full mr-2 mb-4' %>
                    </div>
                <% else %>
                    <div class="w-10 h-10 rounded-full bg-gray-300 mr-2 mb-4"></div>
                <% end %>
                <span class="font-semibold"><%= review.user.name %></span>
            </div>

            <div class="text-gray-600 text-sm">
                <%= l(review.created_at, format: '%Y-%m-%d') %>
            </div>

            <div class ="mb-2">
                <p class="text-gray-600 text-sm">オススメ度 : <%= review.rating %></p>
                <div class="rating">
                    <% (1..5).each do |star| %>
                        <input type="radio" class="mask mask-star-2 bg-orange-400" disabled <%= "checked" if star <= review.rating %> />
                    <% end %>
                </div>
            </div>

            <p class="text-gray-700 mt-8 mb-4"><%= review.content %></p>

            <% if review.user == current_user %>
                <div class="mt-4 flex space-x-2">
                    <%= link_to "編集", edit_museum_review_path(@museum, review), class: "btn btn-secondary" %>
                    <%= button_to "削除", museum_review_path(@museum, review), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
                </div>
            <% end %>
        </div>
    <% end %>
<% else %>
    <p class="text-gray-500">まだレビューが投稿されていません。</p>
<% end %>

<% if user_signed_in? %>
    <%= link_to "レビューを投稿する", new_museum_review_path(@museum), class: "btn btn-primary w-full mt-4" %>
<% else %>
    <p class="text-red-500 mt-4">レビューを投稿するにはログインが必要です。</p>
<% end %>
