<!DOCTYPE html>
<html>
  <head>
    <!-- Open Graph tags -->
    <meta property="og:title" content="<%= @meta_title || 'MuseUP -みゅーじあっぷ-' %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= @meta_image ||  request.base_url + asset_path('MuseUP.png') %>" />
    <meta property="og:description" content="<%= @meta_description || 'ミュージアムをもっと知る、もっと楽しむ。' %>" />
    <meta property="og:site_name" content="MuseUP" />

    <!-- X（旧Twitter） Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tohohoit" />
    <meta name="twitter:title" content="<%= @meta_title || 'MuseUP -みゅーじあっぷ-' %>" />
    <meta name="twitter:description" content="<%= @meta_description || 'ミュージアムをもっと知る、もっと楽しむ。' %>" />
    <meta name="twitter:image" content="<%= @meta_image ||  request.base_url + asset_path('MuseUP.png') %>" />

    <title><%= content_for(:title) || "MuseUP" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= favicon_link_tag asset_path('favicon.ico'), type: 'image/x-icon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "place_autocomplete" %>
    <%= javascript_import_module_tag "museum_maps" %>
    <%= javascript_import_module_tag "museum_tabs" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap&language=ja" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initAutocomplete"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8HEV0D4QJK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8HEV0D4QJK');
    </script>
  </head>

  <body class="flex flex-col min-h-screen font-body bg-base-200">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>

    <main class="flex-grow pt-10 pb-20">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
